body {
  background-color: rgb(132, 93, 223);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  gap: 30px;
}

#sidebar {
  background-color: rgb(250, 250, 250);
  grid-area: 1 / 1 / 3 / 1; 
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todoForm {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 12px;
  padding: 12px;
}

.priorityField {
  display: flex;
  align-items: center;
}

.formBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formBottom .left {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  gap: 16px;
}

#submitButton, #clearButton, .removeButton, .statusToggle {
  font-size: 1em;
  font-weight: bold;
  padding: 4px 16px;
  border: none;
  border-radius: 6px;
}

#submitButton {
  color: white;
  background-color: rgb(132, 93, 223);
}

#submitButton:hover {
  background-color: rgb(97, 68, 165);
  cursor: pointer;
}

#clearButton {
  border: 1px solid grey;
  background-color: white;
}

#clearButton:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
}

#newItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input[type="text"], textarea {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid grey;
  box-shadow: 2px 4px 8px rgb(179, 179, 179);
}

#content {
  border: 4px solid white;
  border-radius: 12px;
}

#todoList {
  width: 80%;
  padding: 18px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#todoList ul li {
  width: 100%;
}

.collapsibleElement {
  display: flex;
  flex-direction: column;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
}

.collapsible:hover {
  background-color: #ececec;
}

.collapsible::after {
  content: '\02795';
  font-size: 13px;
}

.active {
  background-color: #ececec;
}

.active::after {
  content: "\2796";
}
.content {
  color: white;
  padding: 16px;
  display: none;
  overflow: hidden;
  background-color: rgb(169, 138, 243);
  border: 2px solid white;
  border-radius: 18px;
  flex-direction: column;
}

.content .buttons {
  align-self: flex-end;
}

.removeButton, .statusToggle {
  color: rgb(68, 68, 68);
  background-color: white;
  font-weight: normal;
  border-radius: 12px;
}

.removeButton:hover, .statusToggle:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}
.priorityMarker {
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
}

span[data-priority="high"] {
  background-color: rgb(255, 95, 32);
}

span[data-priority="low"] {
  background-color: rgb(0, 206, 144);
}

span {
  color: rgb(68, 68, 68);
}
span.dueDate {
  font-size: 0.9em;
}

span.taskName {
  font-weight: bold;
}

#sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(132, 93, 223);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 4px 10px;
  box-shadow: 2px 4px 8px rgb(153, 153, 153);
}

.removeProject {
  font-size: 1.6em;
  cursor: pointer;
}

.nameContainer {
  flex: 5;
  cursor: pointer;
}

#newProject {
  display: flex;
  gap: 6px;
}
#newProjectButton {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgb(132, 93, 223);
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  box-shadow: 2px 4px 8px rgb(158, 158, 158);
}

#newProjectButton:hover {
  background-color: rgb(97, 68, 165);
  cursor: pointer;
}

#sidebar ul li.activeProject {
  background-color: rgb(100, 77, 150);
}